<h1>Products</h1>
<table>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td><%= link_to 'Add to cart', add_to_cart_path(product), method: :post %></td>
  </tr>
  <% end %>
</table>
